In [1]:
#demo is the function name
def demo(name,age):
    #print value
    print(name,age)
    
 # call function
demo("praju",22)

praju 22

In [2]:
def prajakta(*args):
    for i in args:
        print(i)

print()
print("1st output")
prajakta(20,30,40)

print()
print("1st output")
prajakta(80,100)

1st output
20
30
40

1st output
80
100

In [6]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    #return multiple values separated by comma
    return addition, subtraction

#get result in tuple format
res = calculation(40, 10)
print(res)

(50, 30)

In [7]:
#function with default argument
def show_employee(name, salary=8000):
    print("Name:", name, "salary:", salary)
    
show_employee("Ben",12000)
show_employee("jessa")

Name: Ben salary: 12000
Name: jessa salary: 8000

In [10]:
#outer function
def outer_fun(a, b):
    square = a ** 2
    
    #inner function
    def addition(a, b):
        return a + b
    
    #call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(55,15)
print(result)

75